NetworkManager.xcodeproj/project.xcworkspace/xcuserdata/championchen.xcuserdatad/UserInterfaceState.xcuserstate
NetworkManager.xcodeproj/xcuserdata/championchen.xcuserdatad/xcschemes/xcschememanagement.plist
